ul.uauto {
  cursor:pointer;
}


div.uauto-macro {
	 text-align:right;
	 cursor:pointer;
	 margin-right:10px;
}

div.uauto-i-block {
  position:absolute;
  z-index:10;
  width:400px;
  padding:2px;
}
#uauto-display {
 margin-right:30px;
 background-color:#6699FF; 
 color:#FFFFFF;
 font-size:12px;
 font-family: Arial, Helvetica, sans-serif;
 border:thin solid #3366CC;  
 padding:2px;
}

div.uauto-i-list {
 float:left; 
 width:230px;
 background-color:#6699FF; 
 color:#FFFFFF;
 text-align:left;
 font-size:12px;
 margin-left:3px;
 font-family: Arial, Helvetica, sans-serif;
 border:thin solid #3366CC;  
 padding:5px;  
}

div.uauto-i-macro {
	 float:right;
	 width:140px;
	 background-color:#0066CC;
	 border:none;
	 color:#cccccc;
	 padding:5px;
   text-align:left;
	 padding-bottom:10px;
	 font-size:11px;
	 font-family: Arial, Helvetica, sans-serif;   
	 overflow:visible; 
}
div.uauto-i-message {
	  width:110px;
	  height:15px;
	  color:#FFFFFF;
    text-align:right;
	  background-color:#0066CC;
	  padding:2px;
	  font-size:12px;
	  font-weight:bold;
	  float:left;
}

input {
	height:20px;
}